body{
  background: #000;
}
b{
  font-weight: bold;
  font-size: 16px;
}
i{
  font-size: 16px;
  font-style: italic;
}
u{
  font-size: 16px;
  text-decoration: underline;
}
.wrap {
  width: 800px;
  margin: auto;
  text-align: center;
  background: #282828;
  padding: 20px;
}
h1{
  text-transform: uppercase;
  display: block;
  color: #000;
  font-size: 3rem;
  font-weight: bold;
  margin: 5px;

}
.editorPara {
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  font-size: 1rem;
  text-align: left;
  background: #fff;
}

.selectBox {
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 1rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background: #ececec;
  border: 0;
}

.selectBox:focus {
  outline: none;
}

.btActive {
  background: rgba(0, 0, 0, .1);
  -webkit-box-shadow: 2px 2px 2px gray;
  box-shadow: 2px 2px 2px gray;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: #fff;
}

.textMiddle {
  text-align: center;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}


@media screen and (max-width:800px){
  .wrap{
    width: 100%;
  }
}