body {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.wrap {
  width: 400px;
  margin: 30px auto; }

.main {
  position: relative;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

#main__analog {
  display: none; }

.analog_main {
  color: red;
  -webkit-animation: analogNone 1s forwards;
  animation: analogNone 1s forwards; }

@-webkit-keyframes analogNone {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none; } }
@keyframes analogNone {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none; } }
header {
  position: relative; }

.watch__container {
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 5px 10px rgba(210, 210, 210, 0.5);
  box-shadow: 1px 5px 10px rgba(210, 210, 210, 0.5); }

.watch-style-v1 {
  background: #cccccc; }

.watch__inner {
  padding: 20px;
  border-radius: 20px; }

.watch__inner-style {
  position: relative;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#1f1f1f), to(#3b3b3b));
  background: -webkit-linear-gradient(left, #1f1f1f, #3b3b3b);
  background: -o-linear-gradient(left, #1f1f1f, #3b3b3b);
  background: linear-gradient(to right, #1f1f1f, #3b3b3b);
  height: 423px; }

.header {
  overflow: hidden;
  padding: 0px 25px; }
  .header .header__list {
    float: left;
    width: 50%; }
  .header .header__title {
    color: orange; }
  .header .header__title-v1 {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -1px; }
  .header .header__date {
    text-align: right;
    color: #fff; }

/* main */
.changeClose {
  display: none !important; }

.changeView {
  display: block !important;
  -webkit-animation: aa 1s forwards;
  animation: aa 1s forwards; }

@-webkit-keyframes aa {
  0% {
    display: block !important;
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes aa {
  0% {
    display: block !important;
    opacity: 0; }
  100% {
    opacity: 1; } }
.watch__main {
  position: absolute;
  top: 0;
  left: 0; }

.watch__main-style-v1 {
  padding: 0px 25px; }
  .watch__main-style-v1 .time-style {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 5px 0;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-animation: mainTime 1s 1s forwards linear;
    animation: mainTime 1s 1s forwards linear; }

@-webkit-keyframes mainTime {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes mainTime {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.lab__main {
  display: none;
  position: absolute;
  top: 0;
  left: 0; }

.watch__main-style-v1 {
  padding: 0px 25px; }
  .watch__main-style-v1 .lab-style {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 5px 0; }
    .watch__main-style-v1 .lab-style span {
      color: #fff;
      font-size: 4rem;
      font-weight: 800; }

.stopColor {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  background: red !important; }

.startColor {
  background: #085508 !important;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

footer {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 90%; }

.watch__controler-cont {
  display: block;
  overflow: hidden;
  text-align: center; }
  .watch__controler-cont li {
    position: relative;
    float: left;
    width: 47%;
    border-radius: 15px;
    margin: 3px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    cursor: pointer; }
    .watch__controler-cont li:hover button {
      color: #fff;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
  .watch__controler-cont .controler__bt-v1 {
    background: #424040; }
  .watch__controler-cont .controler__bt-v2 {
    background: rgba(35, 207, 136, 0.502); }
  .watch__controler-cont #timeBt button:active {
    color: #505050; }
  .watch__controler-cont .controler__bt {
    padding: 15px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold; }
  .watch__controler-cont .button-v1 {
    color: rgba(230, 230, 230, 0.452); }
  .watch__controler-cont .button-v2 {
    color: rgba(255, 255, 255, 0.568); }

.luminousMode {
  background: #000;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.luminousBt {
  background: #3af80a !important;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-animation: light 5s infinite linear alternate;
  animation: light 5s infinite linear alternate; }

@-webkit-keyframes light {
  0% {
    background: #3af80a; }
  100% {
    background: #6ceb45;
    -webkit-box-shadow: 0px 0px 2px greenyellow;
    box-shadow: 0px 0px 2px greenyellow; } }
@keyframes light {
  0% {
    background: #3af80a; }
  100% {
    background: #6ceb45;
    -webkit-box-shadow: 0px 0px 2px greenyellow;
    box-shadow: 0px 0px 2px greenyellow; } }
.controlder_lumi {
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 60px;
  cursor: pointer;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background: rgba(35, 207, 136, 0.502);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .controlder_lumi:hover {
    background: #3af80a;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }

.lightBet {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: red;
  position: absolute;
  right: 10px;
  top: 0px;
  opacity: 1;
  border-radius: 100%;
  -webkit-animation: lightRed 2s infinite alternate;
  animation: lightRed 2s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035); }

@-webkit-keyframes lightRed {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes lightRed {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.ft-Wt {
  color: #fff !important;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.resetCont {
  display: inline-block;
  position: absolute;
  right: 50px;
  bottom: 60px;
  width: 40px;
  height: 25px;
  line-height: 25px;
  background: blue;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.678);
  font-weight: bold; }
  .resetCont:hover {
    color: #fff; }

.showBox {
  padding-top: 85px; }

.labBox {
  display: none;
  margin-top: 10px; }
  .labBox ul {
    overflow: hidden; }
  .labBox li {
    width: 50%;
    float: left;
    text-align: center; }
    .labBox li p {
      font-size: 1rem;
      color: #fff; }
      .labBox li p span {
        color: rgba(187, 187, 187, 0.747);
        font-weight: bold; }
    .labBox li:first-child {
      padding-left: 25px; }
    .labBox li:last-child {
      padding-right: 40px; }

.labBoxSendCont {
  height: 190px;
  overflow: hidden; }

.aniChangeAanl {
  position: absolute;
  left: 20px;
  top: 50;
  opacity: 1;
  -webkit-animation: chageMainDigi 1s forwards;
  animation: chageMainDigi 1s forwards; }

@-webkit-keyframes chageMainDigi {
  0% {
    opacity: 1;
    left: 0; }
  100% {
    opacity: 0;
    left: -400px; } }
@keyframes chageMainDigi {
  0% {
    opacity: 1;
    left: 0; }
  100% {
    opacity: 0;
    left: -400px; } }
.aniChangeDigi {
  position: absolute;
  left: 20px;
  top: 50;
  opacity: 0;
  -webkit-animation: chageMainAnal 1s 1s forwards;
  animation: chageMainAnal 1s 1s forwards; }

@-webkit-keyframes chageMainAnal {
  0% {
    opacity: 0;
    left: -400px; }
  100% {
    opacity: 1;
    left: -0; } }
@keyframes chageMainAnal {
  0% {
    opacity: 0;
    left: -400px; }
  100% {
    opacity: 1;
    left: -0; } }
.analog_Show {
  display: block;
  opacity: 0;
  -webkit-animation: showAlog 1s 1s forwards;
  animation: showAlog 1s 1s forwards; }

@-webkit-keyframes showAlog {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes showAlog {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#server {
  border: 1px solid red; }
  #server p,
  #server span {
    font-weight: bold; }

#analogWatch {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: url(../src/watchMainBack.png), url(../src/watchSubBack_v1.png);
  background-size: cover;
  border: 1px solid green;
  box-shadow: 2px 5px 5px white; }
  #analogWatch #analogSec {
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, color-stop(45%, transparent), color-stop(55%, orange));
    background: -webkit-linear-gradient(right, transparent 45%, orange 55%);
    background: -o-linear-gradient(right, transparent 45%, orange 55%);
    background: linear-gradient(to left, transparent 45%, orange 55%);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    z-index: 50; }
    #analogWatch #analogSec:after {
      position: absolute;
      top: 50%;
      left: -10px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      display: block;
      content: '';
      width: 0px;
      height: 0px;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-right: 10px solid orange;
      border-left: 3px solid transparent; }
    #analogWatch #analogSec:before {
      position: absolute;
      top: -50%;
      right: 50%;
      -webkit-transform: translateY(-50%, -50%);
      -ms-transform: translateY(-50%, -50%);
      transform: translateY(-50%, -50%);
      display: block;
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background: orange; }
  #analogWatch #analogMin {
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 4px;
    background: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(50%, #bdbdbd));
    background: -webkit-linear-gradient(right, transparent 50%, #bdbdbd 50%);
    background: -o-linear-gradient(right, transparent 50%, #bdbdbd 50%);
    background: linear-gradient(to left, transparent 50%, #bdbdbd 50%);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    z-index: 45; }
    #analogWatch #analogMin:after {
      position: absolute;
      top: 50%;
      left: -10px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      display: block;
      content: '';
      width: 0px;
      height: 0px;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-right: 10px solid white;
      border-left: 3px solid transparent; }
  #analogWatch #analohHours {
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 4px;
    background: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(50%, #bdbdbd));
    background: -webkit-linear-gradient(right, transparent 50%, #bdbdbd 50%);
    background: -o-linear-gradient(right, transparent 50%, #bdbdbd 50%);
    background: linear-gradient(to left, transparent 50%, #bdbdbd 50%);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    z-index: 40; }
    #analogWatch #analohHours:after {
      position: absolute;
      top: 50%;
      left: -10px;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      display: block;
      content: '';
      width: 0px;
      height: 0px;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-right: 10px solid orange;
      border-left: 3px solid transparent; }
  #analogWatch .subdial {
    position: absolute;
    width: 62px;
    height: 62px;
    line-height: 62px;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
    #analogWatch .subdial img {
      margin-top: 5px;
      width: 85%;
      border-radius: 100%; }
  #analogWatch .subdial__v1 {
    left: 30%;
    top: 55%;
    background: url(../src/subdial_v4.png), black;
    background-size: cover; }
  #analogWatch .subdial__v2 {
    position: relative;
    left: 70%;
    top: 55%;
    cursor: pointer;
    background: url(../src/subdial_v7.png), black;
    background-size: cover; }
    #analogWatch .subdial__v2:after, #analogWatch .subdial__v2:before {
      position: absolute;
      width: 52px;
      height: 52px;
      transition: 1s;
      left: 2px;
      top: 2px;
      content: '';
      border-radius: 50%;
      border: 2px solid transparent;
      border-top-color: #ffae00;
      border-bottom-color: #ffd000;
      animation: subdialBd 2s .5s linear forwards; }
  #analogWatch .subdial__v3 {
    left: 50%;
    bottom: 10%;
    background: url(../src/subdial_v3.png), black;
    background-size: cover; }

@keyframes subdialBd {
  0% {
    transform: rotate(0deg) scale(0.1); }
  50% {
    transform: rotate(45deg) scale(1.2); }
  75% {
    transform: rotate(180deg) scale(0.9); }
  100% {
    transform: rotate(360deg) scale(1); } }
.subRightChimMin {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transition: 1s;
  opacity: 0;
  transform-origin: top center;
  animation: showSubChim 4s 2s forwards linear;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86); }

@keyframes showSubChim {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    background: red; }
  25% {
    opacity: 1;
    transform: rotate(0deg);
    background: red; }
  50% {
    opacity: 1;
    transform: rotate(360deg);
    background: red; }
  75% {
    opacity: 1;
    transform: rotate(720deg);
    background: red; }
  100% {
    opacity: 1;
    transform: rotate(195deg);
    background: linear-gradient(to right, red 50%, transparent 50%); } }
.analogTitle_title {
  position: absolute;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 80px;
  height: 30px;
  background: black;
  text-align: center;
  border-radius: 5px; }
  .analogTitle_title ul {
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    animation: alogDate 20s 1s infinite;
    animation-timing-function: cubic-bezier(0.77, 0, 0, 1); }
    .analogTitle_title ul li {
      height: 30px;
      color: #fff;
      margin: 6px 0;
      padding-top: 5px;
      font-weight: bold;
      font-size: .7rem; }
      .analogTitle_title ul li P {
        font-size: 5px;
        transform: scale(0.8);
        color: #bebebe; }

@-webkit-keyframes alogDate {
  0% {
    top: -6px; }
  25% {
    top: -42px; }
  50% {
    top: -78px; }
  75% {
    top: -114px; }
  100% {
    top: -150px; } }
@keyframes alogDate {
  0% {
    top: -6px; }
  25% {
    top: -42px; }
  50% {
    top: -78px; }
  75% {
    top: -114px; }
  100% {
    top: -150px; } }
.analogDay_day {
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  top: 39%;
  left: 69%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  background: black; }

/*# sourceMappingURL=watch.css.map */
